* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: "Helvetica Neue", sans-serif;
line-height:1.4;
}

.header {
  margin-bottom: 15px;
}

.menu{
  
 color: black;
 margin-bottom: 20px;
 margin-top: 30px;
}


nav {
    display: flex;
   justify-content: space-between;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    color: brown;
    font-size: 17px;
  }
  
  .logo {
  width:100px;
  height: 60px;
    padding-right: 10px;
    margin-right: 400px;
  }

  .description {
font-size: 25px;
text-shadow: 1px 1px 1px lightgreen;

  }

  .menuitem {
    text-decoration: none;
    color: inherit;
    margin-left: 30px;
  }

  .menuitem:hover {
   border-bottom-style: solid;
    color: blueviolet;
  }

  .blockelement {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 200px;
    box-shadow: 2px 2px 2px skyblue;
   border-radius: 8px;
   outline: none;
   padding-left: 15px;
   font-size: 16px;
  }

  .button {
    background-color: blue;
    color: antiquewhite;
    border: none;
    padding: 2px 20px 0px ;
    border-radius: 30px;
    font-size: 20px;
    height: 40px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .button:hover {
    border-bottom-style: solid;
    color: brown;
    text-decoration: underline;
  }
  .inputspan {
    margin-bottom: 20px;
  }


  .password{
    margin-bottom: 15px;
  }
  .left {
    display: inline-block;
    width: 40%;
  }

  .right {
    display: inline-block;
    width: 40%;
  }

  .appstoreimg {
    width: 30%;
    margin: 10px;
  }
 
  .screenimg {
    width: 90%;
    
  }
  .container {
   
  }

.footer {
 
   font-size: 15px;
   margin: 50px;
   text-align: center;
   width: 500px;
   padding:15px ;
   border-radius: 7px;
   background-color:aquamarine;
 text-shadow: 1px 1px 1px brown;
}

.allselect {
  margin-bottom: 400px;
  margin-left:400px ;
}